.nav-bar{
  display: block;
  float: left;
  width: 100%;
  position: relative;
  background: azure;
}
.logo-c{
  float: left;
  width: 50px;
  background: blueviolet;
  text-align: center;
}
.nav-bar ul{
  margin: 0;
  padding: 0;
}

.nav-bar ul li{
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav-bar ul li a{
  display: inline-block;
  padding: 12px 8px;
  text-decoration: none;
  transition: background-color 0.2s linear, color 0.4s ease-in-out;
}
.nav-bar ul li a:hover{
  background: blueviolet;
  color: #ffffff;
}
